* {
	font-family: "Rubik";
}



body {
	height: 100vh;
	background-color: #0A0A0A;


}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navdiv{
	border-radius: 30px;
	min-height: 3.6rem;
	border: 1px solid #50536D;
	font-size: 1rem;
	background-color: transparent;
		
}

.nav-item{
	color: #b9b9b9;
	font-weight: 420;
}

.punto{
	color: #b9b9b9 !important;
}



.logosteconologias {
	max-width: 80%;
	margin-bottom: 2rem;
}


#titulo {
	font-size: 80px;
	text-align: center;
	color: white;
	line-height: 1.3;
	font-weight: 800;
	background-image: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
	background-size: 200% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 200% 0%;
	}
}

.card-proyectos{
	border: solid 1px #363636;
	border-radius: 28px;

}

.contenedorimagenproyectos {
	border-radius: 28px 0 0 28px; /* Redondea solo las esquinas superiores */
	overflow: hidden; /* Asegura que el contenido no se desborde */
	width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .card-proyectos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 1rem;
    height: 200px; /* Ajusta la altura según sea necesario */
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card-title {
    font-size: 1.25rem;
 
}

.texto {
    color: #ccc;
    font-size: 0.875rem;
}

.pretitulo {
	
	color: white;
	font-weight: 600;
	font-size: 14px;
}

.subtitulo {
	color: white;
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 14px;
}

.containerbuttonimportado {
	text-align: center;
}



.downloadcv,
.contact {
	background-color: #751379;
	border-color: #751379;
	font-size: 13px;
	font-weight: 700;
}

.bordeseccion1{
	border: solid 1px #363636;
	border-radius: 28px;
	background-color: #0C0C0D;
	
}

.sobremi {
	font-weight: 800;
	font-size: 35px;
}

.mifoto {
	height: 3000px;
}

.texto {
	color: #969696;
	font-weight: 420;
	font-size: 18px;
	line-height: 28px;
}

.textosobremi {
	color: white;
	font-weight: 600;
	font-size: 25px;
}

.texto2 {
	color: white;
	font-weight: 600;
	font-size: 25px;
}

.rounded-circle {
	width: 260px;
	height: 260px;
	object-fit: cover;
	border-radius: 50%;
	object-position: center top;
}

.logo {
	font-size: 100px;
	background-image: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
	background-size: 200% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 200% 0%;
	}
}




.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-pen-nib {
	font-size: 5rem;
	background-image: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
	background-size: 200% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 2.5s linear infinite;
}

.btn-secondary {
	background: #600f79;
	border-color: #600f79;
}

@media (max-width: 767px) {
	.bloque {
	  margin-bottom: 20px; /* Agrega un margen inferior para separar los bloques */
	  text-align: center; /* Centra el contenido de cada bloque */
	}
  }


/* BOTONES IMPORTADOS */

.buttoninicio {
	position: relative;
	overflow: hidden;
	height: 2.2rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background: #600f79;
	background-size: 400%;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 15px;
	line-height: 1.1;
	font-weight: 600;
}

.buttoninicio:hover::before {
	transform: scaleX(1);
}

.button-content {
	position: relative;
	z-index: 1;
}

.buttoninicio::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient( 82.3deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
	transition: all 0.475s;
}

.pretituloproyectos {
	color: white;
	font-weight: 400;
	font-size: 100;
}

.tituloproyectos {
	color: white;
	font-weight: 600;
	font-size: 25px;
	line-height: 0.8;
}

.card {
	min-height: 16rem;
	max-height: 130px;
	overflow: hidden;
	/* Esto ocultará cualquier parte de la imagen que se desborde de la tarjeta */
	display: flex;
	justify-content: center;
	/* Centra horizontalmente los elementos hijos */
	align-items: center;
	/* Centra verticalmente los elementos hijos */
	border: none;
}

.certificacion {
	min-height: 230px;
	max-height: 230px;
}

.lenguajes{
	max-height: 120px;
	min-height: 120px;
}

.contenedorcertificacion {
	display: flex;
	justify-content: center;
	/* Centra horizontalmente los elementos hijos */
	align-items: center;
	/* Centra verticalmente los elementos hijos */
}

img,
i {
	transition: transform 0.3s ease-in-out;
	/* Añade una transición suave */
}


/* Estilo para la imagen cuando se coloca el mouse sobre ella */

img:hover {
	transform: scale(1.09);
	/* Escala la imagen un 5% más grande */
}

i:hover {
	transform: scale(1.09);
	/* Escala la imagen un 5% más grande */
}

a {
	color: white;
}	

.btn-block {
	background: #600f79;
	border: #600f79 !important;
}

.btn-block:hover {
	background-color: #8114a1 !important;
	/* Mantén el color fijo al pasar el ratón sobre el botón */
	border: #8114a1 !important;
}

.btn-block:active {
	background-color: rgb(11, 62, 104) !important;
	/* Cambia el color a rojo cuando se hace clic en el botón */
	border: none !important;
}

#customTextarea {
	height: 180px !important;
	resize: none !important;
}





@media (max-width: 576px) {
	.paddingespecial {
	  padding-bottom: 3rem !important;
	  ;
	}
  }

  @media (max-width: 576px) {
	.contenedorfoto {
	  padding-bottom: 24px !important;
	  ;
	}
  }

.logito{
	margin: 1.5rem;

}

.texto-punto{
	color: #faebff !important;

}

.navbar-toggler-icon {
	background-image: none; /* Elimina la imagen por defecto */
	position: relative;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after,
  .navbar-toggler-icon {
	content: '';
	display: block;
	width: 24px;
	height: 2px;
	background-color: #751379; /* Cambia este color */
	position: absolute;
	transition: all 0.4s ease-in-out;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .navbar-toggler-icon::before {
	top: -8px;
  }
  
  .navbar-toggler-icon::after {
	bottom: -8px;
  }


  body {
	background-color: black;
	background-image: radial-gradient(
	  circle at 50% -6%,
	 
	  rgba(128, 0, 128, 0.7) 1%,
	  transparent 25%
	);
	background-size: 110% 120%;
	background-position: center;
	min-height: 600vh;

  }